.App {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  flex-grow: 1;
  background-color: #385744;
  color: white;
  transition: transform 0.3s ease;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

/* 
.menu-open {
  transform: translateX(250px);
}

.content {
  transition: transform 0.1s ease;
}

/* .menu-open .content {
  transform: translateX(250px);
} */
.body-content {
  text-align: center;
}

@media (max-width: 768px) {
  /* .menu-open {
    transform: translateY(100%);
  }

  .menu-open .content {
    transform: translateY(100%);
  } */
}

html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

  header {
    flex: 0 1 auto;
  }

  main {
    background-color: #385744;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
  }
}
