.header-bar {
  background-color: #1a1a1a;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: left 0.3s ease;
}

.header-bar.open {
  left: 0;
}

.header-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.nav-bar-container {
  display: flex;
  flex-direction: column;
}

.burger {
  padding: 8px 6px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  border: 1px solid #fff;
  justify-content: space-between;
  background-color: transparent;
  transition: background-color 0.3s ease;
  align-items: flex-end;
}

.line {
  height: 1.5px;
  width: 30px;
  margin: 3px 0;
  background-color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.line.line2 {
  width: 15px;
}

.line.line1.open {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.line.line2.open {
  opacity: 0;
}

.line.line3.open {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-list-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #1a1a1a;
  color: white;
  transition: height 0.3s ease;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 0;
  margin-top: 1rem;
  padding-left: 1rem;
  gap: 10px;
  list-style: none;
}

.nav-list-sublist {
  cursor: pointer;
  gap: 5px;
  font-style: normal;
  width: calc(100vw - 32px);
  border-bottom: 1px solid #d8d8d8;
  padding: 10px 0px;
}

.nav-list-sublist.active .nav-list-subchild {
  color: yellow;
  font-weight: 700;
}

.nav-list-subchild,
.submenu-list-subchild {
  display: flex;
  margin-right: 2rem;
}

.submenu-list-subchild {
  margin-top: 10px;
  /* margin-right: 3rem; */
}

.nav-list li li {
  margin-left: 2rem;
  list-style: none;
}

.nav-list li div label {
  flex: 1;
}

.dropdown-arrow {
  padding: 5px;
  margin-top: 4px;
  margin-bottom: 5px;
  display: inline-block;
  transform: rotate(-220deg) rotate(180deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

.third-menu {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.third-menu-list.active {
  color: yellow;
  font-weight: 700;
}

.third-menu-title.active {
  color: yellow;
  font-weight: 700;
}
.submenu-header {
  display: none;
}

.dropdown-arrow.active {
  transform: rotate(-135deg) rotate(180deg);
}

@media screen and (min-width: 769px) {
  .submenu-header {
    display: none;
  }

  .nav-list-container {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #1a1a1a;
    overflow-y: auto;
    z-index: 1;
  }

  .nav-list-sublist {
    width: 100%;
  }
}
